@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .inspect {
    border: red solid 1px;
  }
}
